
.grid {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 300px;
      height: 400px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 5px 20px rgba(0,0,0,.3);
    /* margin: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    align-items: stretch; */
    }
  
  .grid > article {
    /* border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 3px; */
    text-align: center;
  }
  
  .grid > article:hover{
    transition: transform .1s ease-out;
    transform: translateY(5px);
  }
  
  .grid > article img {
    width: 100%; 
  }
  
  
  .text {
    padding: 0 50px 50px;
    padding-top: 10px;
  }
  
  .text > h3{
    text-transform: uppercase;
  }
  
  .text > button {
    background: linear-gradient(to right, #f030a7, #f0308d, #f03061);
    border-radius: 3px;
    border: 0;
    color: white;
    padding: 5px;
    width: 10%;
    padding-top: 10px;
    font-weight: 10;
    text-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    text-transform: uppercase;
  }
  
  
  @media (max-width: 768px){
    .grid{
      grid-template-columns: repeat(3, 3fr);
      margin: 0;
    }
  }
  
  @media (max-width: 500px){
    .grid{
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
    }
  
    .grid > article{
      text-align: center;
    }
  }
  